@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-family: "Poppins";
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
.heading {
  color: white;
  padding: 1vw;
  padding-top: 0;
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  font-size: 1.2vw;
}
.subheading {
  margin-top: 2vw;
  font-size: 0.8vw;
  margin-left: 0.5vw;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vw;
}
.search_btn {
  border-width: 1vw;
  border: white;
  position: relative;
  left: 10.2vw;
  bottom: 3.8vw;
  width: 3vw;
  height: 3vw;
  font-size: 1.3vw;
  padding: 0.2vw;
  background-color: #282a3a;
  /* background-image: url("https://icons8.com/icon/7695/search"); */
}
.text-field {
  color: white;
  border: white;
  background-color: #282a3a;
  border-width: 1vw;
  font-size: 1.6vw;
  padding-left: 1vw;
  height: 4vw;
  width: 25vw;
  border-radius: 30px;
}
